h3 {
	color: black;
	text-align: center;


}

#title {
	font-size: 42px;
	font-family: 'Libre Barcode 39 Text', cursive;
}
#subtitle {
	font-size: 42px;
	font-family: 'Libre Barcode 128 Text', cursive;
}

input {
	margin-left: 40%;
	width: 25%;
	height: 30px;
}

button {

}

#drugsearchresults {
	color: purple;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}